<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>google login</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>$(GOOGLE_API_URL)</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>kakao</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>$(KAKAO_API_URL)</string>
			</array>
		</dict>
	</array>
	<key>GOOGLE_API_CLIENT_ID</key>
	<string>$(GOOGLE_API_CLIENT_ID)</string>
	<key>GOOGLE_API_URL</key>
	<string>$(GOOGLE_API_URL)</string>
	<key>KAKAO_API_URL</key>
	<string>$(KAKAO_API_URL)</string>
	<key>KAKAO_APP_KEY</key>
	<string>$(KAKAO_APP_KEY)</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>itms-apps</string>
		<string>instagram-stories</string>
		<string>kakaolink</string>
		<string>kakaokompassauth</string>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>Pretendard-Bold.otf</string>
		<string>Pretendard-SemiBold.otf</string>
		<string>Pretendard-Regular.otf</string>
		<string>Pretendard-Medium.otf</string>
		<string>KyoboHandwriting2020pdy.otf</string>
		<string>dovemayo.otf</string>
		<string>UhBee-QUEEN-J.ttf</string>
		<string>UhBee-Seulvely-2.ttf</string>
		<string>UhBee-namsoyoung.ttf</string>
		<string>UhBee-DongKyung.ttf</string>
		<string>UhBee-Ham-Bold.ttf</string>
		<string>UhBee-puding.ttf</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
